:root{
    --headerDifuminado: rgba(0, 0, 0, .8);
    --menuDifuminado: rgba(0, 0, 0, .95);
    --blanco: #fff;
    --negro: #000;
    --boton: #002060;

    --logo: 'Stalinist One', cursive;
    --menu: 'PT Serif', serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* Utilidades */
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* hr{
    background: var(--negro);
    height: .5rem;
    width: 75%;
} */

section[id]{
    scroll-margin-top: 9rem;
}

.sombra {
    width: 100%;
    max-width: 1024px;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    margin: 0 auto;
}

.contenedor{
    background: var(--negro);
    height: 7rem;
    width: 100%;
    position: fixed;    
}

.contenedor-nav{    
    margin: 0 auto;
    width: 0%;
    max-width: 1024px;
    opacity: 0;
    transition: all 2s ease;
}

.nav{    
    text-align: center;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    padding: 0 2rem;
}

.contenedor.active{
    background: var(--negro) ;
}

.contenedor.active .logo,
.contenedor.active a{
    color: var(--blanco);
}

.contenedor.active a:hover{
    background: var(--blanco);
    color: var(--negro);
}

.logo{
    font-family: var(--logo);
    font-size: 2.5rem;
    color: var(--blanco);
    font-weight: 400;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 0 1.2rem;
}

.menu li a{
    color: var(--blanco);
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: 1.8rem;
    font-family: var(--menu);
}

.menu li a:hover,
.menu a.selected{
    padding: .5rem 1rem;
    background: var(--blanco);
    color: var(--negro);
    border-radius: 1.5rem;
}

.nav-open,
.nav-close{
    display: none;
}

/* Home */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(../img/imagen_wallpers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-dif{
    background-color: var(--headerDifuminado);
    top: 7rem;
    width: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;    
}

.home-texto{
    text-align: center;
    color: var(--blanco); 
    height: 100vh;         
    margin-top: 15%;  
    text-transform: uppercase;
}

/* Foto */
#foto{
    opacity: 0;   
    transition: 2s ease;
    font-weight: bold;
}

.miFoto{
    height: 20rem;
    width: 20rem;
    border-radius: 50%; 
    line-height: 100vh;
}

#home-name{
    opacity: 0;
    transform: translateX(-100);  
    transition: 2s ease all;
}

#ubicacion{
    opacity: 0;   
    transition: 2s ease;
}

/* about */
#about{
    width: 100%; 
    max-width: 1024px;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 2rem;
}

.descripcion{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.descripcion h3,
.habilidades h3,
.projects h3,
.form h3{
    text-transform: uppercase;
}

.descripcion__text{
    font-family: var(--fuenteParrafo);
    font-size: 2rem;
}

.btnCV{
    font-family: var(--menu);
    text-transform: uppercase;
    border-radius: 2rem;
    padding: 1rem;
    background: var(--boton);
    color: var(--blanco);
    margin-bottom: 2rem;
    transition: all 0.5s ease;
}

.btnCV:hover{
    background: var(--negro);
    color: var(--blanco);
}

/* Skills */
.skills{
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 0 auto;
}

.skill{
    width: 25rem;
    height: 35rem;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(3, 0, 0, 0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    transition: all 0.5s ease;
}

.skill-card{
    margin: auto;
    width: 20rem;
    height: 20rem;
    font-size: 20rem;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    overflow: hidden;
}

.skill .content h2{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.skill .content p{
    font-size: 2rem;
    font-weight: 400;
}

.skill:hover{
    transform: translateY(-3%);
}

/* Proyectos */
.cards{
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 0 auto;
}

.card{
    margin: 1rem auto;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.card .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition:.5s;
}

.card .content h2, a{
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content{
    opacity: 1;
    border-radius: 5px;
}

/* Formulario */
.formulario{
    width: 100%;
    max-width: 1024px;
    border: 1px solid #000;
    background: #6547ad;
}

/* Footer */
footer .redes-sociales{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

footer .redes-sociales a{
    display: block;
    width: 6rem;
    height: 6rem;
    background: #000;
    color: #fff;
    margin: 2rem;
    text-align: center;
    border-radius: 10rem;
    transition: .3s ease all;
}

footer .redes-sociales .facebook{
    background: #3b5998;
}

footer .redes-sociales .gmail{
    background: #BB001B;
}

footer .redes-sociales .git-hub{
    background: #000;
}

footer .redes-sociales a i{
    font-size: 3rem;
    line-height: 6rem;
}

footer .contenedor-icono:hover a{
    animation: icono .5s ease;
}

@keyframes icono {
    from{
        transform: rotate3d(0,0,0,0);
    }

    to{
        transform: rotate3d(0,1,0,360deg);
    }
}

footer p{
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Responsive */
/* pantalla menor a 950px */
@media screen and (max-width: 900px){
    /* Menu */
    .nav{
        padding: 2rem;
    }

    .menu{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: var(--menuDifuminado);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translatex(-100%);
        overflow-y: auto;
        max-width: 300px;
        transition: transform 0.4s ease;
    }

    .nav-open{
        display: block;
        color: #fff;        
    }

    .menu.active{
        opacity: 1;
        transform: translatex(0);
    }

    .home-texto{
        margin-top: 15%;
    }

    .miFoto{
        height: 10rem;
        width: 10rem;
    }

    #home-name{
        font-size: 2.5rem;
    }

    #about{
        width: 100%;
        margin-top: 1rem;
    }

    .descripcion{
        width: 70%;
        margin: 0 auto;
    }
    
    .descripcion__text{
        font-family: var(--fuenteParrafo);
        font-size: 1.5rem;
    }
    
    .btnCV{
        width: 75%;
    }

    .home-texto{                
        margin: 20%;  
    }

    /* Skill */
    .skills{        
        gap: 2.5rem;
        margin: 0 auto;
    }

    .skill{
        width: 20rem;
        height: 30rem;
    }
    
    .skill-card{
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
    }
    
    .skill .content h2{
        font-size: 2rem;
    }
    
    .skill .content p{
        font-size: 1.8rem;
    }
    
    /* Proyectos */
    .cards{
        gap: 2.5rem;
    }
    
    .card{
        margin: 1rem auto;
        width: 17.5rem;
        height: 25rem;
    }
}

@media screen and (max-width: 700px){ 
    .home-texto{
        margin-top: 25% auto;
    }   

    .descripcion{
        width: 80%;
    }
    
    /* Skill */
    .skills{        
        gap: 2.5rem;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }

    .skill{
        width: 15rem;
        height: 20rem;
    }
    
    .skill-card{
        margin: 0 auto;
        width: 10rem;
        height: 10rem;
    }
    
    .skill .content h2{
        font-size: 1.8rem;
    }
    
    .skill .content p{
        font-size: 1.5rem;
    }
    
    /* Proyectos */
    .cards{
        gap: 2.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .card{
        margin: 1rem auto;
        width: 15rem;
        height: 25rem;
    }
}    

/* pantalla menor a 400px*/
@media screen and (max-width: 480px){
    .menu{
        top: -1.5rem;
        max-width: 100%;
    }

    .nav-close{
        display: block;
        color: #fff;
        align-self: flex-end;
        padding: 3rem 2rem;
    }

    .home-texto{              
        margin-top: 12.5rem;  
    }

    #home-name{
        font-size: 1.5rem;
    }

    .descripcion{
        width: 90%;
    }
    
    /* skills */
    .skills{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    /* Proyectos */
    .cards{
        gap: 2.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .card{
        margin: 1rem auto;
        width: 15rem;
        height: 25rem;
    }
}

